// Here you can add other styles

@import 'node_modules/react-redux-toastr/src/styles/index';

.sidebar-fixed .sidebar {
  height: calc(100% - 55px);
}

.social-box-single {
  ul {
    li {
      display: block;
      float: left;
      width: 100%;
    }
  }
}

.app-header.navbar .nav-item .nav-link, .app-header.navbar .nav-item .dropdown-toggle {
  padding-right: 10px;
}

.sidebar .nav-link.active, .sidebar .navbar .active.dropdown-toggle, .navbar .sidebar .active.dropdown-toggle {
  border-right: $primary solid 5px;
}

div#spinner {
  margin: auto
}

.btn {
  margin-right: 5px;
}

$blur-radius: 5px;

body.modal-open #root {
  -webkit-filter: blur($blur-radius);
  -moz-filter:    blur($blur-radius);
  filter:         blur($blur-radius);
  opacity: 0.7;
}
