// Here you can add other styles

@import 'node_modules/react-redux-toastr/src/styles/index';

.sidebar-fixed .sidebar {
  height: calc(100% - 55px);
}

.social-box-single {
  ul {
    li {
      display: block;
      float: left;
      width: 100%;
    }
  }
}

.app-header.navbar .nav-item .nav-link, .app-header.navbar .nav-item .dropdown-toggle {
  padding-right: 10px;
}

.sidebar .nav-link.active, .sidebar .navbar .active.dropdown-toggle, .navbar .sidebar .active.dropdown-toggle {
  border-right: $primary solid 5px;
}

div#spinner {
  margin: auto
}

.btn {
  margin-right: 5px;
}

$blur-radius: 5px;

body.modal-open #root {
  -webkit-filter: blur($blur-radius);
  -moz-filter:    blur($blur-radius);
  filter:         blur($blur-radius);
  opacity: 0.7;
}

.kupiki-logo {
  background-image: url('../img/kupiki-logo.png');
  -webkit-background-origin:border;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kupiki-collapse-line {
  border-bottom: 1px solid $gray-200;
  margin-bottom: 1rem
}

.kupiki-collapse-title {
  color: $gray-900;
  position: relative;
  top: .75em;
  left: 2em;
  background-color: $white;
}

.kupiki-collapse-chevron {
  color: $gray-900;
  position: relative;
  top: .5em;
  right: 1em;
  display: inline-block;
  border: solid 1px $gray-200;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  background-color: $white;
}

.kupiki-right-checkbox {
  margin-left: 0.25em
}

.kupiki-right-checkbox-15em {
  margin-left: 1.5em
}

.kupiki-table {
  &-tooltip {
    background: $gray-100 !important;
    opacity: 1 !important;
    border-radius: 2px;
    font-size:16px;
    margin: 0px 10px;
  }

  @each $color, $value in $theme-colors {
    &-icon-#{$color} {
      margin: 0px 5px;
      color: $value;
    }
  }
}

.modal-xl {
  max-width: 1200px;
}